spring:
  profiles: prod

  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health

