spring:
  application:
    name: cardpay
  
  profiles:
    active: local

jwt:
  secret: cardpay_secret_key_must_be_at_least_32_bytes_long_so_adding_more_text

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%X{requestId}] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health